h1, h2, h3, h4{
    font-size: 26px;
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
}

p{
    font-size: 18px;
    line-height: 1.5;
    text-indent: 1.5em; 
}

b{
    font-size: 19px;
}

.about-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;

    .about-container_window {
        width: 70vw;
        height: 2000px;
        background: rgba(197, 201, 199, 0.95);
        margin-top: 15.5vh;
        border-radius: 15px;
        margin-bottom: 20vh;

        .about-container_header {
            width: 100%;
            height: 100%;
            border-left: 2px solid #000;
            font-size: 3.5vh;
            margin-top: 0.5vh;
            padding-left: 1vw;
            
            .rules{
                display: flex;
                justify-content: center;
                margin-bottom: 5vh;
                font-size: 8vh;
                padding-right: 1vw;
            }

            .head {
                font-size: 18px;
                line-height: 1.5;
            }

            .info{
                line-height: 1.5;
                float: left;
                padding: 15px;

                .chip{
                    width: 56px;
                    height: 56px;
                    float: left;
                }
            }

            .combination{
                padding: 20px;

            }
        }
    }    
}

