@import "./null.css";
@import "./fonts.css";
@import "./login.css";
@import "./checkIn.css";
@import "./header.css";
@import "./profile.css";

.wrapper {
  display: flex;
  width: 60vw;
  height: 30vw;
  justify-content: center;
  align-items: center;
  background: #317417;
}