.form-controls {

}

.form-controls__error {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    input {
        width: 200px;
        border: 2px solid #ff0000;
    }

    span {
        margin-top: 5px;
        font-size: 13px;
        color: #ff0000;
    }
}

.form-controls input {
}