.header-container {
  width: 100%;
  height: 60px;
  background: #43ce58;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  .header-container__info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .header-container__name {
    margin: 0 5px 0 5px;
    a {
      font-size: 16px;
      color: #1F4D26;
    }
  }

  .header-container__btn-logout {
    display: flex;

    button {
      background: rgb(38, 175, 72);
    }
    // button {
    //   padding: 4px 8px;
    //   border-radius: 5px;
    //   &:hover {
    //     border: 2px solid #0cb106;
    //   }
    //   &:active {
    //     background: #7bdd84;
    //   }
    // }
  }




  .header-container__login{ 
    font-size: 10px;
    font-weight: 700;

    a {
      margin: 0 3px 0 3px;
    }
  }

  // .header__btn-login{
  //     height: 40px;
  //     width: 200px;
  //     margin: 10px;
  //     font-size: 20px;
      
  //     font-weight: bold;
  //     border-radius: 10px;   
  //     color: rgb(0, 180, 0);
  //     border: 3px solid #1F4D26;
  //     background-color:#f8f4ed;
  //     border-radius: 10px;
  //     display: inline-block;
  //     text-align: center;
  //     align-items: flex-start;
  //     a {
  //       font-size: 26px;
  //       text-decoration: none;
  //       color: #0cb106;
  //     }
  // }

  .header__btn-check-in{
      height: 40px;
      width: 200px;
      margin: 10px;
      font-size: 20px;
      font-weight: bold;
      border: 3px solid #1F4D26;
      background-color:#f8f4ed;
      border-radius: 10px;
      display: flex;
      display: inline;
      justify-content: flex-start;
      a {
        font-size: 16px;
        text-decoration: none;
        color: #0cb106;
      }
  }
  .header__btn-check-in:hover{
    a {
      font-size: 3.5vh;
      text-decoration: none;
      color: #ffffff;
    }
    background-color: #035a11;
  }

  .header__btn-login:hover{
    a {
      font-size: 3.5vh;
      text-decoration: none;
      color: #ffffff;
    }
    background-color: #035a11;
  }

  .navbar {
    width: 30%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    a {
      font-size: 20px;
      color: #1F4D26;
    }
  }
  
}
