.tables-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;   
    align-items: center; 
}

.tables-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 3%;
}


.tables-container_but {
    margin-right: 2%;
    button {
        height: 40px;
        width: 100%;
        font-size: 24px;
        font-weight: bold;
        border-radius: 10px;
        border: 4px solid #1F4D26;
        background-color:#ffe5b4;
        border-radius: 10px;
        text-align: center; 
    }
}

.tables-container_window {
    display: flex;
    flex-flow: column nowrap;
    background: rgba(197, 201, 199, 0.95);
    overflow: auto;
    border-radius: 10px;
}

.tables-container_header {
    width: 75vw;
    height: 5vh;
    font-size: 3vh;
    display: flex;

    .tables-container_header_items {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        color: #A0522D;
        font-size: 23px;
        font-weight: 700;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #000;
        &:last-child {
            border-right: none;
        }
    }
  
}

.tables-container_main {
    width: 100%;
    height: 65vh;
    font-size: 15px;
}




.tables-container_create {
    width: 75vw;
    height: 4vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; 
    cursor: pointer;
    &:hover {
        border-bottom: 3px solid #1F4D26;
    }  
}

.tables-container_create_item {
    width: 20%;
    font-size: 18px;
    text-align: center;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    &:last-child {
        border-right: none;
    }
    
}




.create-table {
    display: flex;
    justify-content: center;
    width: 90%;
    background: rgba(197, 201, 199, 0.95);
    margin: 1%;
    border-radius: 10px;
    padding: 10px;
    form {
        width: 100%;
    }
}

.create-table__inputs {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.create-table__item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    label {
        font-family: 'Tajawal', sans-serif;
        font-size: 15px;
    }

    input {
        font-family: 'Tajawal', sans-serif;
        height: 18px;
        border: 2px solid #1F4D26;
        border-radius: 5px;
        font-size: 15px;
        background: #fff;
    }

    button {
        background: #fff;
        width: 100px;
        height: 20px;
        border: 2px solid #1F4D26;
        border-radius: 5px;
        color: #1F4D26;
        &:hover {
            border: 2px solid #fff;
            background: #1F4D26;
            color: #fff;
        }
    }
}



